{% local util = require("util.util") %}
<script language="javascript">
	{% if errmsg then %}	
		alertMsg.error("{{errmsg}}");
	{% end %}
</script>
<form id="pagerForm" method="get" action="/url/list">
	<input type="hidden" name="pageNum" value="{{pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{numPerPage}}" />
</form>

<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			{% if cur_manager == "admin" then %}
			<li><a class="add" href="/url/add" target="dialog" rel="dlg_addurl" width="480" title="添加URL"><span>添加</span></a></li>
			<li><a class="delete" href="/url/del?id={id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="/url/add?id={id}" target="dialog" width="480" title="修改URL"><span>修改</span></a></li>
			<li class="line">line</li>
			<li>&nbsp;</li>
			{% end %}
		</ul>
	</div>
	<table class="table" width="100%" layoutH="75">
		<thead>
			<tr>
				<th width="180">URL</th>
				<th width="80">匹配类型</th>
				<th width="80">应用</th>
				<th width="80">访问权限</th>
				<th width="80">创建日期</th>
				<th width="80">修改日期</th>
			</tr>
		</thead>
		<tbody>
		{% if urls then %}
		  {% for i, record in ipairs(urls) do %}
			<tr target="id" rel="{{record.id}}">
				<td>{{record.url}}</td>
				<td>{{type_maps[record.type] or record.type}}</td>
				<td>{{record.app}}</td>
				<td>{{record.permission}}</td>
				<td>{{util.localtime(record.create_time)}}</td>
				<td>{{util.localtime(record.update_time)}}</td>
			</tr>
		  {% end %}
		{% end %}
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示{{numPerPage}}条，共{{totals}}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{{totals}}" numPerPage="{{numPerPage}}" pageNumShown="10" currentPage="{{pageNum}}">&nbsp;</div>

	</div>
</div>