{% local util = require("util.util") %}
<script language="javascript">
	{% if errmsg then %}	
		alertMsg.error("{{errmsg}}");
	{% end %}
</script>
<form id="pagerForm" method="get" action="/user/list">
	<input type="hidden" name="pageNum" value="{{pageNum}}" />
	<input type="hidden" name="numPerPage" value="{{numPerPage}}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);" action="/user/list" method="get" rel="pagerForm">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					用户名：<input type="text" name="username" value="{{username}}"/>
				</td>
				<td>
					EMAIL：<input type="text" name="email" class="email" value="{{email}}"/>
				</td>
				<td>
					TEL: <input type="text" name="tel" class="tel" value="{{tel}}"/>
				</td>
				<td>
					<div class="buttonActive">
					<div class="buttonContent"><button type="submit">搜索</button></div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/user/add" target="dialog" rel="dlg_adduser" height="450" width="480" title="添加用户"><span>添加</span></a></li>
			<li><a class="delete" href="/user/del?id={id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="/user/add?id={id}" target="dialog"  height="450" width="480" title="修改用户"><span>修改</span></a></li>
			<li class="line">line</li>
			<li><a class="add" href="/perm_apply" target="ajaxTodo" ><span>应用</span></a></li>
			<span>注意：修改权限(角色)后，要用户会话过期后才生效，需要立即生效设置请点击左侧【应用】按钮</span>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="112">
		<thead>
			<tr>
				<th width="20">ID</th>
				<th width="100">用户名</th>
				<th width="100">EMAIL</th>
				<th width="50">TEL</th>
				<th width="50">应用ID</th>
				<th width="50">管理权限</th>
				<th width="80">角色</th>
				<th width="200">权限</th>
				<th width="100">修改日期</th>
			</tr>
		</thead>
		<tbody>
		{% if users then %}
		  {% for i, record in ipairs(users) do %}
			<tr target="id" rel="{{record.id}}">
				<td>{{record.id}}</td>
				<td>{{record.username}}</td>
				<td>{{record.email}}</td>
				<td>{{record.tel}}</td>
				<td>{{record.app}}</td>
				<td>{{record.manager}}</td>
				<td>{{record.role_id}}</td>
				<td title="{{util.permission_alt(record.permission)}}">{{util.str_clip(record.permission, 30)}}</td>
				<td>{{util.localtime(record.update_time, "%Y-%m-%d %H:%M")}}</td>
			</tr>
		  {% end %}
		{% end %}
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示{{numPerPage}}条，共{{totals}}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{{totals}}" numPerPage="{{numPerPage}}" pageNumShown="10" currentPage="{{pageNum}}">&nbsp;</div>

	</div>
</div>