#Minecraft server properties
#Wed Jun 17 01:38:38 CDT 2015
spawn-protection=16
query.port={{ item.value.instancePort }}
generator-settings=
force-gamemode=false
allow-nether={{ item.value.allowNether }}
gamemode={{ item.value.instanceGamemode }}
enable-query={{ item.value.instanceQueryEnabled }}
player-idle-timeout=0
difficulty=0
spawn-monsters={{ item.value.spawnMonsters }}
op-permission-level=4
resource-pack-hash=
announce-player-achievements=true
pvp={{ item.value.pvpEnabled }}
snooper-enabled=false
level-type=DEFAULT
hardcore=false
enable-command-block=false
max-players={{ item.value.maxPlayers }}
network-compression-threshold=256
max-world-size=29999984
server-port={{ item.value.instancePort }}
server-ip=127.0.1.1
spawn-npcs={{ item.value.spawnNPCs }}
allow-flight=false
level-name={{ item.value.levelName }}
view-distance=10
resource-pack=
spawn-animals={{ item.value.spawnAnimals }}
white-list=false
generate-structures=false
online-mode=false
max-build-height=256
level-seed={{ item.value.instanceSeed }}
use-native-transport=true
enable-rcon=false
motd={{ item.value.instanceMOTD }}
